force-app/main/default/flows/Activate_CGM_when_a_badge_is_activated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Assign_Community_group_members_based_on_Badge</name>
        <label>Assign Community group members based on Badge</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_CGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_CGM</targetReference>
            </connector>
            <label>Not a CGM</label>
        </rules>
        <rules>
            <name>Has_an_Inactive_CGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Community_Group_Members.PagesApi__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_an_Inactive_CGM</targetReference>
            </connector>
            <label>Has an Inactive CGM</label>
        </rules>
        <rules>
            <name>Has_an_Active_CGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Community_Group_Members.PagesApi__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <label>Has an Active CGM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Community_Group</name>
        <label>Check Community Group</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Don&apos;t have a Community group</defaultConnectorLabel>
        <rules>
            <name>Has_Community_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Community_Group_Members</targetReference>
            </connector>
            <label>Has Community Group</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Activate CGM when a badge is activated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate CGM when a badge is activated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_CGM</name>
        <label>Create a CGM</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>PagesApi__Activated_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Awarded_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Community_Group__c</field>
            <value>
                <elementReference>Get_Community_groups.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Contact__c</field>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Deactivated_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Expired_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Manager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Role__c</field>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>PagesApi__Community_Group_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Community_Group_Members</name>
        <label>Get Community Group Members</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Community_group_members_based_on_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PagesApi__Community_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Community_groups.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PagesApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PagesApi__Community_Group_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_groups</name>
        <label>Get Community groups</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Community_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Badge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Badge_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PagesApi__Community_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_an_Inactive_CGM</name>
        <label>Update an Inactive CGM</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Community_Group_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PagesApi__Activated_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Awarded_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Deactivated_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Expired_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PagesApi__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>PagesApi__Community_Group_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Badge__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Community_groups</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
