force-app/main/default/flows/AMCP_41_POC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Generate Sales Order S-docs document</description>
    <environments>Default</environments>
    <interviewLabel>AMCP-41 POC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMCP-41 POC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Initiate_document</name>
        <label>Initiate document</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>SDOC__Doclist__c</field>
            <value>
                <stringValue>AMCP Invoice,Sales Invoice Email Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__ObjApiName__c</field>
            <value>
                <stringValue>OrderApi__Sales_Order__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Oid__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__SendEmail__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>228</locationX>
        <locationY>51</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>OrderApi__Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Posted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posting_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Sales_Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Sales_Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X30_days</name>
            <connector>
                <targetReference>Initiate_document</targetReference>
            </connector>
            <label>30 days</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>OrderApi__Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X60_Days</name>
            <connector>
                <targetReference>Initiate_document</targetReference>
            </connector>
            <label>60 Days</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>OrderApi__Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X90_Days</name>
            <connector>
                <targetReference>Initiate_document</targetReference>
            </connector>
            <label>90 Days</label>
            <offsetNumber>90</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>OrderApi__Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
