force-app/main/default/flows/Committee_Badges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Dates</name>
        <label>Assign Dates</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application_Package__r.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TermEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application_Package__r.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_First_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Dates</name>
        <label>Copy 1 of Assign Dates</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TermEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_First_Choice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Package</name>
        <label>Application Package</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_s_an_application_package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dates</targetReference>
            </connector>
            <label>There&apos;s an application package</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_First_Choice</name>
        <label>Check First Choice</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Check_Second_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1st_Committee_Choice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Badge_Type_First_Choice</targetReference>
            </connector>
            <label>First Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Second_Choice</name>
        <label>Check Second Choice</label>
        <locationX>380</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Check_Third_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Second_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X2nd_Committee_Choice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Badge_Type_Second_Choice</targetReference>
            </connector>
            <label>Second Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Third_Choice</name>
        <label>Check Third Choice</label>
        <locationX>380</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Third_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X3rd_Committee_Choice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Badge_Type_Third_Choice</targetReference>
            </connector>
            <label>Third Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_s_a_first_badge_type</name>
        <label>There&apos;s a first badge type</label>
        <locationX>226</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Check_Second_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_First_Badge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge_Type_First_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_First_Badge</targetReference>
            </connector>
            <label>True First Badge</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_s_a_second_badge_type</name>
        <label>There&apos;s a second badge type</label>
        <locationX>226</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_Third_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Second_Badge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge_Type_Second_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Second_Badge</targetReference>
            </connector>
            <label>True Second Badge</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_s_a_third_badge_type</name>
        <label>There&apos;s a third badge type</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Third_Badge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge_Type_Third_Choice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Third_Badge</targetReference>
            </connector>
            <label>True Third Badge</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstBadgeName</name>
        <dataType>String</dataType>
        <expression>iF( NOT ISBLANK(LEFT(TEXT({!$Record.X1st_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X1st_Committee_Choice__c}))-1))), LEFT(TEXT({!$Record.X1st_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X1st_Committee_Choice__c}))-1)),  TEXT({!$Record.X1st_Committee_Choice__c}))</expression>
    </formulas>
    <formulas>
        <name>SecondBadgeName</name>
        <dataType>String</dataType>
        <expression>iF( NOT ISBLANK(LEFT(TEXT({!$Record.X2nd_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X2nd_Committee_Choice__c}))-1))), LEFT(TEXT({!$Record.X2nd_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X2nd_Committee_Choice__c}))-1)),  TEXT({!$Record.X2nd_Committee_Choice__c}))</expression>
    </formulas>
    <formulas>
        <name>ThirdBadgeName</name>
        <dataType>String</dataType>
        <expression>iF( NOT ISBLANK(LEFT(TEXT({!$Record.X3rd_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X3rd_Committee_Choice__c}))-1))), LEFT(TEXT({!$Record.X3rd_Committee_Choice__c}), (FIND(&quot;(&quot;, TEXT({!$Record.X3rd_Committee_Choice__c}))-1)),  TEXT({!$Record.X3rd_Committee_Choice__c}))</expression>
    </formulas>
    <interviewLabel>Committee Badges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Committee Badges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_Badge</name>
        <label>Create First Badge</label>
        <locationX>94</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Check_Second_Choice</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>TermStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge_Type_First_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>TermEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_Badge</name>
        <label>Create Second Badge</label>
        <locationX>94</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Check_Third_Choice</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>TermStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge_Type_Second_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>TermEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Third_Badge</name>
        <label>Create Third Badge</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>TermStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge_Type_Third_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>TermEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Badge_Type_First_Choice</name>
        <label>Get Badge Type First Choice</label>
        <locationX>226</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_s_a_first_badge_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FirstBadgeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Badge_Type_Second_Choice</name>
        <label>Get Badge Type Second Choice</label>
        <locationX>226</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_s_a_second_badge_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SecondBadgeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Badge_Type_Third_Choice</name>
        <label>Get Badge Type Third Choice</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_s_a_third_badge_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ThirdBadgeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
