force-app/main/default/flows/Create_Badge_for_Selected_Committee_on_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Application_Package</name>
        <label>Application Package</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_s_an_application_package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Badge</targetReference>
            </connector>
            <label>There&apos;s an application package</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Badge_Type_Choice</name>
        <label>Check Badge Type Choice</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Badge_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Package</targetReference>
            </connector>
            <label>Check Badge Type</label>
        </rules>
    </decisions>
    <description>Creates and assigns badge to the contact for the selected committee on an Application.</description>
    <environments>Default</environments>
    <formulas>
        <name>BadgeName</name>
        <dataType>String</dataType>
        <expression>iF( NOT ISBLANK(LEFT(TEXT({!$Record.Select_Committee__c}), (FIND(&quot;(&quot;, TEXT({!$Record.Select_Committee__c}))-1))), LEFT(TEXT({!$Record.Select_Committee__c}), (FIND(&quot;(&quot;, TEXT({!$Record.Select_Committee__c}))-1)),  TEXT({!$Record.Select_Committee__c}))</expression>
    </formulas>
    <interviewLabel>Create Badge for Selected Committee on Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Badge for Selected Committee on Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Badge</name>
        <label>Copy 1 of Create Badge</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>$Record.Application_Package__r.Term_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>$Record.Application_Package__r.Term_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Badge</name>
        <label>Create Badge</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Badge</name>
        <label>Get Badge Type</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Badge_Type_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>BadgeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
