force-app/main/default/flows/Create_Digital_Membership_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Old_Membership_Card</name>
        <label>Old Membership Card?</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Create_SDoc_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETSDoc_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Card</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>new criteria with &quot;Create Digital Membership Card&quot; field</description>
    <environments>Default</environments>
    <interviewLabel>Create Digital Membership Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Digital Membership Card</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SDoc_Job</name>
        <label>Create SDoc Job</label>
        <locationX>374</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>Update_Create_Digital_Membership_Card_to_Not_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>SDOC__Doclist__c</field>
            <value>
                <stringValue>Membership Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__ObjApiName__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Oid__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Card</name>
        <label>Delete Old Card</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Create_SDoc_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDOC__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SDOC__Doclist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Card</stringValue>
            </value>
        </filters>
        <object>SDOC__SDJob__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Gets the old Membership Card if it exists.</description>
        <name>GETSDoc_Job</name>
        <label>GETSDoc Job</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Membership_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDOC__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SDOC__Doclist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Card</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Create_Digital_Membership_Card_to_Not_Create</name>
        <label>Update &quot;Create Digital Membership Card&quot; to Not Create</label>
        <locationX>374</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>Create_Digital_Membership_Card__c</field>
            <value>
                <stringValue>Do Not Create</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Digital_Membership_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_delay</name>
            <connector>
                <targetReference>GETSDoc_Job</targetReference>
            </connector>
            <label>1 minute delay</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
