force-app/main/default/flows/Create_SO_and_SOL_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrderLineInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Override</name>
        <label>Price Override True</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Price_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Sale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SOL_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Override_1</name>
        <label>Price Override False</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Price_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SOL_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SOL_Instance</name>
        <label>SOL Instance</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Overall_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Sold_Price_Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.Revenue_Recognition_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Revenue_Recognition_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Sale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLineInstance.Webinar_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Items.Event_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Discount</name>
        <label>Has Discount?</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Price_Override_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Opportunity_Items.Price_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Override</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>adding GetContactRole=Billing Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>SalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_Opportunity_Items.Sold_Price_Total_Amount__c}/{!Loop_through_Opportunity_Items.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UrlSO</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!SOId}</expression>
    </formulas>
    <interviewLabel>Create SO and SOL from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SO and SOL from Opportunity</label>
    <loops>
        <name>Loop_through_Opportunity_Items</name>
        <label>Loop through Opportunity Items</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Opportunity_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SO_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>SOId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_Opportunity_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>GetContactRole_Billing_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SO_Lines</name>
        <label>Create SO Lines</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Screen_flow</targetReference>
        </connector>
        <inputReference>SalesOrderLineCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Item</name>
        <label>Get Opportunity Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactRole_Billing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRole_Billing_Contact</name>
        <label>GetContactRole=Billing Contact</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_flow</name>
        <label>Screen flow</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&quot;SUCCESS! You have created a Sales Order directed to this Opportunity. Click &lt;a href=&quot;{!UrlSO}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to see the Sales Order&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SalesOrderLineInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
