force-app/main/default/flows/Create_Membership_Card_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Doc_Template</name>
        <label>Doc Template</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDOC__Doclist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Membership_Card</targetReference>
            </connector>
            <label>Membership Card</label>
        </rules>
    </decisions>
    <description>changing to run immediately</description>
    <environments>Default</environments>
    <interviewLabel>Create Membership Card Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership Card Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Membership_Card</name>
        <label>Create New Membership Card</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.SDOC__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Link__c</field>
            <value>
                <elementReference>$Record.Membership_Card_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Digital Membership Card</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Membership_Card</name>
        <label>Delete Existing Membership Card</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Create_New_Membership_Card</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_New_Membership_Card</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SDOC__Contact__c</elementReference>
            </value>
        </filters>
        <object>Membership_Card__c</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>SDOC__SDJob__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1minute_delay_to_finish_creating_the_document</name>
            <connector>
                <targetReference>Doc_Template</targetReference>
            </connector>
            <label>1minute delay to finish creating the document</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
