force-app/main/default/flows/Create_epayment_and_epayment_lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>epaymentLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EpaymentLineVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_the_SOLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_SOLs.OrderApi__Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Item_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_SOLs.OrderApi__Item_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Sales_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_SOLs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_SOLs.OrderApi__Sale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_SOLs.OrderApi__AR_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__EPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_ePayment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EpaymentLineVar.OrderApi__Price_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>do_receipts_exist</name>
        <label>do receipts exist</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_receipts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_receipts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ePayment</targetReference>
            </connector>
            <label>no receipts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create epayment and epayment lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create epayment and epayment lines</label>
    <loops>
        <name>loop_through_the_SOLs</name>
        <label>loop through the SOLs</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>get_SOL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_ePayment_lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ePayment</name>
        <label>create ePayment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>get_SOL</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Business_Group__c</field>
            <value>
                <elementReference>$Record.OrderApi__Business_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Entity__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Sales_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Total__c</field>
            <value>
                <elementReference>$Record.OrderApi__Total__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__EPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_ePayment_lines</name>
        <label>create ePayment lines</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>get_epayment_id</targetReference>
        </connector>
        <inputReference>epaymentLineCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_epayment_id</name>
        <label>get epayment id</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_checkout_URL_on_the_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_ePayment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__EPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_receipts</name>
        <label>get receipts</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>do_receipts_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SOL</name>
        <label>get SOL</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_the_SOLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_checkout_URL_on_the_SO</name>
        <label>Update Invoice checkout URL on the SO</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FION_Invoice_checkout_URL__c</field>
            <value>
                <elementReference>get_epayment_id.Invoice_checkout_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_receipts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Posting_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posting_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Closed_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoiced to Customer</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>additem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderApi__Item__c</objectType>
    </variables>
    <variables>
        <name>epaymentLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__EPayment_Line__c</objectType>
    </variables>
    <variables>
        <name>EpaymentLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__EPayment_Line__c</objectType>
    </variables>
    <variables>
        <name>GLAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>item</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>itemclass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>saleprice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SOL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
