force-app/main/default/flows/Ethos_AutoLaunched_Create_Financial_Docs_for_Free_Courses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_SOL</name>
        <label>Assign SOL</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Item_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.OrderApi__Item_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Price_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOL.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Items</targetReference>
            </connector>
            <label>Yes - Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Items</name>
        <label>Found Items?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SO</targetReference>
            </connector>
            <label>Yes - Items Found</label>
        </rules>
    </decisions>
    <description>Auto Launched flow (REST API) that creates financial records when a contact registers for a free Ethos course.</description>
    <environments>Default</environments>
    <interviewLabel>Ethos - AutoLaunched - Create Financial Docs for Free Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ethos - AutoLaunched - Create Financial Docs for Free Courses</label>
    <loops>
        <name>Loop_Items</name>
        <label>Loop Items</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SOL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SOLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SO</name>
        <label>Create SO</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>SOID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Entity__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SOLs</name>
        <label>Create SOLs</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Close_SO</targetReference>
        </connector>
        <inputReference>SOLs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Items</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>items</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_SO</name>
        <label>Close SO</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Post_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Is_Closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Post_SO</name>
        <label>Post SO</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Is_Posted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>items</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderApi__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SOLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderApi__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
