force-app/main/default/flows/Event_Registration_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Event_Registration_Email</name>
        <label>EventApi__Attendee__c.EventApi__Event_Registration_Email</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>EventApi__Attendee__c.EventApi__Event_Registration_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.EventApi__Event_Registration_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_JMCP_AOP_Email_Confirmation</name>
        <label>Send JMCP AOP Email Confirmation</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>EventApi__Attendee__c.JMCP_Ahead_Print</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.JMCP_Ahead_Print</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_meeting_sales_confirmation</name>
        <label>Send meeting sales confirmation</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <actionName>EventApi__Attendee__c.Meeting_Sales_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.Meeting_Sales_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Satellite_Symposia_Email</name>
        <label>Send Satellite Symposia Email</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>EventApi__Attendee__c.Satellite_Symposia_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.Satellite_Symposia_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>What_Event</name>
        <label>Which Event?</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JMCP_Ahead_of_Print</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JMCP Ahead of Print</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_JMCP_AOP_Email_Confirmation</targetReference>
            </connector>
            <label>JMCP Ahead of Print</label>
        </rules>
        <rules>
            <name>Affiliate_Events</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EventApi__Attendee_Event__r.EventApi__Event_Category__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate Events</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Registration_Email</targetReference>
            </connector>
            <label>Affiliate Events</label>
        </rules>
        <rules>
            <name>Satellite_Symposium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Satellite Symposium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Satellite_Symposia_Email</targetReference>
            </connector>
            <label>Satellite Symposium</label>
        </rules>
        <rules>
            <name>AMCP_Meeting_Items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMCP 2024 Meeting Space</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMCP 2024 Door Drops &amp; Mailing Lists</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_meeting_sales_confirmation</targetReference>
            </connector>
            <label>AMCP Meeting Items</label>
        </rules>
    </decisions>
    <description>Migrated from the: Event Registration Email workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <label>Event Registration Email</label>
    <migratedFromWorkflowRuleName>Event Registration Email</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>What_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>EventApi__Send_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>EventApi__Preferred_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Send_Invitation_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Is_Registered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EventApi__Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_Minutes_later</name>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>2 Minutes later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
