force-app/main/default/flows/FION_Create_Renewal_Sales_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>adding that it can&apos;t be NULL the Term End date</description>
    <environments>Default</environments>
    <interviewLabel>FION - Create Renewal Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FION - Create Renewal Sales Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_S_O_L</name>
        <label>Create Renewal S.O.L.</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>UpdateTerm</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__AR_Account__c</field>
            <value>
                <elementReference>$Record.OrderApi__Item__r.OrderApi__AR_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Auto_Calculate_Activation_Date__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Business_Group__c</field>
            <value>
                <elementReference>$Record.OrderApi__Business_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Entity__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__GL_Account__c</field>
            <value>
                <elementReference>$Record.OrderApi__Item__r.OrderApi__Income_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Is_Renewal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Item_Class__c</field>
            <value>
                <elementReference>$Record.OrderApi__Item_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Item__c</field>
            <value>
                <elementReference>$Record.OrderApi__Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Overall_Total__c</field>
            <value>
                <elementReference>GetSubscriptionLine.OrderApi__Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Price_Rule__c</field>
            <value>
                <elementReference>GetSubscriptionLine.OrderApi__Price_Rule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Quantity__c</field>
            <value>
                <elementReference>GetSubscriptionLine.OrderApi__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Sale_Price__c</field>
            <value>
                <elementReference>GetSubscriptionLine.OrderApi__Sale_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Sales_Order__c</field>
            <value>
                <elementReference>Create_Renewal_Sales_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Subscription_Plan__c</field>
            <value>
                <elementReference>$Record.OrderApi__Subscription_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Sales_Order</name>
        <label>Create Renewal Sales Order</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Renewal_S_O_L</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Business_Group__c</field>
            <value>
                <elementReference>$Record.OrderApi__Business_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Entity__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Posting_Entity__c</field>
            <value>
                <stringValue>Receipt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Schedule_Type__c</field>
            <value>
                <stringValue>Simple Receipt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the correct Subscription Line, based off the recent Get Term.</description>
        <name>GetSubscriptionLine</name>
        <label>GetSubscriptionLine</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTerm.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Subscription_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get&apos;s the Term related to the subscription. Based off the field &quot;Term End Date&quot;, it brings the one that has the most recent date.</description>
        <name>GetTerm</name>
        <label>GetTerm</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscriptionLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Term_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Renewal__c</object>
        <sortField>OrderApi__Term_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTerm</name>
        <label>UpdateTerm</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTerm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Renewal_Sales_Order__c</field>
            <value>
                <elementReference>Create_Renewal_Sales_Order</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Renewal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTerm</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FION_Create_Renewal_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
