force-app/main/default/flows/FON_RECEIPT_email_after_posting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_notification</name>
        <label>Copy 1 of Send notification</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_1_of_Get_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new Donation with Company Matching!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Matching Company to Claim!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Sales_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Donation_Receipt_Email</name>
        <label>Send Donation Receipt Email</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <actionName>OrderApi__Receipt__c.FON_Receipt_After_Donation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.FON_Receipt_After_Donation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_JMCP_AOP_Reciept</name>
        <label>Send JMCP AOP Reciept</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <actionName>OrderApi__Receipt__c.Send_JMCP_AOP_Receipt</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReceiptMemo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.Send_JMCP_AOP_Receipt</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Membership_Dues_Receipt</name>
        <label>Send Membership Dues Receipt</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <actionName>OrderApi__Receipt__c.Membership_Dues_Payment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReceiptMemo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.Membership_Dues_Payment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Tribute_Email</name>
        <label>Send Tribute Email</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>OrderApi__Receipt__c.Tribute_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.Tribute_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Assign_ownerIds</name>
        <label>Copy 1 of Assign ownerIds</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZz9ZAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9AAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv90AAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058c000008mLpGAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Email</name>
        <label>Has Email?</label>
        <locationX>710</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.DonorApi__Tribute_Notification_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Donation_Receipt_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Donation</name>
        <label>Is Donation?</label>
        <locationX>875</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>What_type_of_payment_is_it</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0007</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0012</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0013</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0014</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Company_Match_or_Tribute_Added</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Company_Match_or_Tribute_Added</name>
        <label>Is there a Company Match or Tribute Added?</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Has_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Company_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.DonorApi__Gift_Matching_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_notification</targetReference>
            </connector>
            <label>Company Match</label>
        </rules>
        <rules>
            <name>Tribute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.DonorApi__Tribute_Honoree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Tribute_Email</targetReference>
            </connector>
            <label>Tribute</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_payment_is_it</name>
        <label>What type of payment is it?</label>
        <locationX>1370</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>ReceiptMemo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UCEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TCEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UTEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TQEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UgEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TwEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7V2EAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Membership_Dues_Receipt</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>JMCP_AOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w9L8EAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_JMCP_AOP_Reciept</targetReference>
            </connector>
            <label>JMCP AOP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FON-RECEIPT- email after posting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FON-RECEIPT- email after posting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task</name>
        <label>Create a task</label>
        <locationX>1370</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Receipt sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_notification</name>
        <label>Copy 1 of Get notification</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_ownerIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_Lines</name>
        <label>Get Receipt Lines</label>
        <locationX>875</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Receipt_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>875</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Receipt_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updates Memo field on Receipt with Payment Method</description>
        <name>ReceiptMemo</name>
        <label>ReceiptMemo</label>
        <locationX>1370</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Memo__c</field>
            <value>
                <elementReference>$Record.OrderApi__Payment_Method_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>204</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>OrderApi__Is_Posted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Refund__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Total__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </filters>
        <object>OrderApi__Receipt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_5_minutes</name>
            <connector>
                <targetReference>Get_Sales_Order</targetReference>
            </connector>
            <label>Run after 5 minutes</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new item was sold!
Receipt sent to the contact via email.
To verify see the receipt record:
https://amcp--amcpfull.sandbox.lightning.force.com//lightning/r/OrderApi__Receipt__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ownerId2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
