force-app/main/default/flows/FON_SUBSCRIPTION_Renewal_After_90_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Suscription_Updated_To_List</name>
        <label>Add Suscription Updated To List</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionRecordToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Create_Renewal_as_True</name>
        <label>Mark Create Renewal as True</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Subscriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionRecordToUpdate.FION_Create_Renewal_S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suscription_Updated_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Subscription_List</name>
        <label>Subscription List</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Records</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription_90_Days_To_Lapse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schedule Flow : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow : FON-SUBSCRIPTION - Renewal After 90 Days</label>
    <loops>
        <name>Iterate_Over_Subscriptions</name>
        <label>Iterate Over Subscriptions</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <collectionReference>Subscription_90_Days_To_Lapse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_Create_Renewal_as_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscription_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Subscription_90_Days_To_Lapse</name>
        <label>Subscription 90 Days To Lapse</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription_List</name>
        <label>Update Subscription List</label>
        <locationX>352</locationX>
        <locationY>876</locationY>
        <inputReference>SubscriptionsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subscription_90_Days_To_Lapse</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SubscriptionRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderApi__Subscription__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Subscription__c</objectType>
    </variables>
</Flow>
