force-app/main/default/flows/FON_SUBSCRIPTION_Renewal_Notification_30_60_90_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_reminder</name>
        <label>Send reminder</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>OrderApi__Subscription__c.FON_SUBSCRIPTION_Renewal_Notification_30_60_90_days_prior_to_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Subscription__c.FON_SUBSCRIPTION_Renewal_Notification_30_60_90_days_prior_to_Expiration</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_reminder_Expired</name>
        <label>Send reminder (Expired)</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>OrderApi__Subscription__c.FON_SUBSCRIPTION_Renewal_Notification_30_60_90_120_days_after_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Subscription__c.FON_SUBSCRIPTION_Renewal_Notification_30_60_90_120_days_after_Expiration</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Days_to_lapse</name>
        <label>Days to lapse</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Send_reminder_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Expiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Days_To_Lapse__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_reminder</targetReference>
            </connector>
            <label>Expiring</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FON-SUBSCRIPTION- Renewal Notification 30, 60, 90 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FON-SUBSCRIPTION- Renewal Notification 30, 60, 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Days_to_lapse</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>OrderApi__Enable_Auto_Renew__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-60.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Days_To_Lapse__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-90.0</numberValue>
            </value>
        </filters>
        <object>OrderApi__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
