force-app/main/default/flows/FON_Send_Auto_Renew_Reminder_Before_30_7_Days_of_expiration_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_before_Expiration_Date</name>
        <label>Send Email before Expiration Date</label>
        <locationX>551</locationX>
        <locationY>527</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Subject</name>
        <label>Update Subject</label>
        <locationX>771</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your AMCP Membership will auto-renew in 7 days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_before_Expiration_Date</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FON : Send Auto Renew Reminder Before 30/7 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FON : Send Auto Renew Reminder Before 30/7 Days of expiration date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>116</locationX>
        <locationY>44</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Enable_Auto_Renew__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Payment_Method__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Paid_Through_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X30_Days_before_Expiration</name>
            <connector>
                <targetReference>Send_Email_before_Expiration_Date</targetReference>
            </connector>
            <label>30 Days before Expiration</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>OrderApi__Paid_Through_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_Days_before_Expiration</name>
            <connector>
                <targetReference>Update_Subject</targetReference>
            </connector>
            <label>7 Days before Expiration</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>OrderApi__Paid_Through_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>DO NOT UPDATE THE MESSAGE ALIGNMENT</description>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://amcp--amcpfull.sandbox.my.salesforce.com/servlet/servlet.ImageServer?id=0158c00000U3tpP&amp;amp;oid=00D750000004gRk&quot;&gt;&lt;/p&gt;&lt;p&gt;Dear {!$Record.OrderApi__Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;We are writing to remind you that your AMCP Membership will be auto-renewed on&lt;strong&gt; {!$Record.OrderApi__Paid_Through_Date__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;We will use the&lt;strong&gt; {!$Record.OrderApi__Payment_Method__r.OrderApi__Card_Type__c}&lt;/strong&gt; ending in &lt;strong&gt;{!$Record.OrderApi__Payment_Method__r.OrderApi__Last_Four_Digits__c}&lt;/strong&gt; to process the renewal payment. If your saved payment method&lt;/p&gt;&lt;p&gt;needs to be updated, please log in to the &lt;a href=&quot;https://members.amcp.org&quot; target=&quot;_blank&quot;&gt; Member Portal &lt;/a&gt;, select “Payment Methods,” and make the&lt;/p&gt;&lt;p&gt;necessary changes.&lt;/p&gt;&lt;p&gt;If you encounter any issues, please feel free to contact us at &lt;a href=&quot;memberservices@amcp.org.&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;memberservices@amcp.org&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Thank you for your continued membership.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Betty Whitaker&lt;/p&gt;&lt;p&gt;VP, Membership and Volunteer Experience&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://amcp--amcpfull.sandbox.my.salesforce.com/servlet/servlet.ImageServer?id=0158c00000U3tpe&amp;amp;oid=00D750000004gRk&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your AMCP Membership will auto-renew this month</stringValue>
        </value>
    </variables>
</Flow>
