force-app/main/default/flows/Membership_Dues_Receipts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Membership_Dues_Receipt</name>
        <label>Send Membership Dues Receipt</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>OrderApi__Receipt__c.Membership_Dues_Payment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.Membership_Dues_Payment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058c000008mLpGAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_type_of_payment_is_it</name>
        <label>What type of payment is it?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Membership</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UCEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TCEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UTEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TQEAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7UgEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7TwEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_lines.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1B8c000005w7V2EAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Membership_Dues_Receipt</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>Business_Strategies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <label>Business Strategies</label>
        </rules>
        <rules>
            <name>Affiliate_Sponsorship</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0020</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0021</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0022</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0023</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0026</stringValue>
                </rightValue>
            </conditions>
            <label>Affiliate Sponsorship</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Membership Dues Receipts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Online Payment Receipt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Receipt_lines</name>
        <label>Get Receipt lines</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_type_of_payment_is_it</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Receipt_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Receipt_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Is_Posted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Refund__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Total__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </filters>
        <object>OrderApi__Receipt__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new item was sold!
Receipt sent to the contact via email.
To verify see the receipt record:
https://utter-21winter017--amcpfull.sandbox.lightning.force.com/lightning/r/OrderApi__Receipt__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>GetReceiptLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Receipt_Line__c</objectType>
    </variables>
    <variables>
        <name>ownerId2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Receipt_Line__c</objectType>
    </variables>
</Flow>
