force-app/main/default/flows/Notification_when_Opp_Changes_to_P2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_Alert_Email</name>
        <label>Invoice Alert Email</label>
        <locationX>6782</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.A_new_invoice_needs_to_be_created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.A_new_invoice_needs_to_be_created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Advertising</name>
        <label>Send Notification Advertising</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Advertising.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Advertising_P1</name>
        <label>Send Notification Advertising P1</label>
        <locationX>4626</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Advertising_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Annual</name>
        <label>Send Notification Annual</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Annual_Meeting.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Annual_P1</name>
        <label>Send Notification Annual P1</label>
        <locationX>5154</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Annual_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Corporate_Training</name>
        <label>Send Notification Corporate Training</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Corporate_Training.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Corporate_Training_P1</name>
        <label>Send Notification Corporate Training P1</label>
        <locationX>5594</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Corporate_Training_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_E_Learning</name>
        <label>Send Notification E-Learning</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_eLearning_Days.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_eDossier</name>
        <label>Send Notification eDossier</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_eDossier.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_EDossier_P1</name>
        <label>Send Notification EDossier</label>
        <locationX>5858</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_EDossier_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_eLearning_P1</name>
        <label>Send Notification eLearning P1</label>
        <locationX>6122</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_E_Learning_Days_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Market_Insights</name>
        <label>Send Notification Market Insights</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Market_Insights.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Market_Insights_P1</name>
        <label>Send Notification Market Insights P1</label>
        <locationX>6386</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Market_Insights_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Membership</name>
        <label>Send Notification Membership</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Membership.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Membership_P1</name>
        <label>Send Notification Membership P1</label>
        <locationX>6650</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Membership_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Misc</name>
        <label>Send Notification Misc</label>
        <locationX>2338</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Misc.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Misc_P1</name>
        <label>Send Notification Misc P1</label>
        <locationX>6914</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Misc_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Nexus</name>
        <label>Send Notification Nexus</label>
        <locationX>2866</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Nexus.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Nexus_P1</name>
        <label>Send Notification Nexus P1</label>
        <locationX>7442</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Nexus_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_PIE_Webinar</name>
        <label>Send Notification PIE Webinar</label>
        <locationX>3306</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_PIE_Webinar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_PIE_Webinar_P1</name>
        <label>Send Notification PIE Webinar P1</label>
        <locationX>7882</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_PIE_Webinar_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Podcast</name>
        <label>Send Notification Podcast</label>
        <locationX>3570</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Podcast.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Podcast_P1</name>
        <label>Send Notification Podcast P1</label>
        <locationX>8146</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Podcast_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_SI_Webinar</name>
        <label>Send Notification SI Webinar</label>
        <locationX>3834</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_SI_Webinar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_SI_Webinar_P1</name>
        <label>Send Notification SI Webinar P1</label>
        <locationX>8410</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_SI_Webinars_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Thought_Leadership</name>
        <label>Send Notification Thought Leadership</label>
        <locationX>4098</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Thought_Leadership.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Stage Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} Has Been Updated to P2!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Thought_Leadership_P1</name>
        <label>Send Notification Thought Leadership P1</label>
        <locationX>8674</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_a_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Thought_Leadership_P1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Name} has closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Annual_Spon</name>
        <label>Assign Owner Annual Spon</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Annual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Annual_Spotlights</name>
        <label>Assign Owner Annual Spotlights</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Annual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Advertising</name>
        <label>Assign Owner IDs Advertising</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Advertising</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Advertising_P1</name>
        <label>Assign Owner IDs Advertising P!</label>
        <locationX>4626</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Advertising_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Corporate</name>
        <label>Assign Owner IDs Corporate</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Corporate_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Corporate_Training_P1</name>
        <label>Assign Owner IDs Corporate Training P1</label>
        <locationX>5594</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Corporate_Training_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_e_Dossier</name>
        <label>Assign Owner IDs e-Dossier</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_eDossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_E_Learning</name>
        <label>Assign Owner IDs E-Learning</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_E_Learning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_E_Learning_P1</name>
        <label>Assign Owner IDs E-Learning P1</label>
        <locationX>6122</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_eLearning_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_eDossier_P1</name>
        <label>Assign Owner IDs eDossier P1</label>
        <locationX>5858</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_EDossier_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Market_Insights</name>
        <label>Assign Owner IDs Market Insights</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Market_Insights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Market_Insights_P1</name>
        <label>Assign Owner IDs Market Insights P1</label>
        <locationX>6386</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzBBAA1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Market_Insights_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Membership</name>
        <label>Assign Owner IDs Membership</label>
        <locationX>2074</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Membership_P1</name>
        <label>Assign Owner IDs Membership P1</label>
        <locationX>6650</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Membership_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Misc</name>
        <label>Assign Owner IDs Misc</label>
        <locationX>2338</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Misc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Misc_P1</name>
        <label>Assign Owner IDs Misc P1</label>
        <locationX>6914</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Misc_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Nexus_Spon_Exh_P1</name>
        <label>Assign Owner IDs Nexus Spon/Exh P1</label>
        <locationX>7178</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Nexus_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Nexus_Spotlights</name>
        <label>Assign Owner IDs Nexus Spotlights</label>
        <locationX>2866</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Nexus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Nexus_Spotlights_P1</name>
        <label>Assign Owner IDs Nexus Spotlights P1</label>
        <locationX>7442</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Nexus_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_PIE_Webinar</name>
        <label>Assign Owner IDs PIE Webinar</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_PIE_Webinar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_PIE_Webinar_P1</name>
        <label>Assign Owner IDs PIE Webinar P1</label>
        <locationX>7882</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_PIE_Webinar_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Podcast</name>
        <label>Assign Owner IDs Podcast</label>
        <locationX>3570</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Podcast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Podcast_P1</name>
        <label>Assign Owner IDs Podcast P1</label>
        <locationX>8146</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Podcast_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_SI_Webinar</name>
        <label>Assign Owner IDs SI Webinar</label>
        <locationX>3834</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_SI_Webinar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_SI_Webinar_P1</name>
        <label>Assign Owner IDs SI Webinar P1</label>
        <locationX>8410</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_SI_Webinar_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Spon_Exh</name>
        <label>Assign Owner IDs Spon/Exh</label>
        <locationX>4890</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Annual_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Spon_Nexus</name>
        <label>Assign Owner IDs Spon Nexus</label>
        <locationX>2602</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Nexus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Spotlight</name>
        <label>Assign Owner IDs Spotlight</label>
        <locationX>5154</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Annual_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Thought_Leadership</name>
        <label>Assign Owner IDs Thought Leadership</label>
        <locationX>4098</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Thought_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Thought_Leadership_P1</name>
        <label>Assign Owner IDs Thought Leadership P1</label>
        <locationX>8674</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Thought_Leadership_P1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Class</name>
        <label>Class?</label>
        <locationX>7442</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_Nexus_P1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sponsorships_or_Exhibits_Nexus_P1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus Exhibits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Nexus_Spon_Exh_P1</targetReference>
            </connector>
            <label>Sponsorships or Exhibits - Nexus P1</label>
        </rules>
        <rules>
            <name>Spotlights_Nexus_P1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotlight Speaking Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Nexus_Spotlights_P1</targetReference>
            </connector>
            <label>Spotlights - Nexus P1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Class_Annual</name>
        <label>Class Annual</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_Annual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sponsorship_or_Exhibits_Annual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Exhibits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Annual_Spon</targetReference>
            </connector>
            <label>Sponsorship or Exhibits - Annual P2</label>
        </rules>
        <rules>
            <name>Spotlights_Annual_P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotlight Speaking Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Annual_Spotlights</targetReference>
            </connector>
            <label>Spotlights Annual P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Class_Nexus</name>
        <label>Class Nexus</label>
        <locationX>2866</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_Nexus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nexus_Sponsorship_or_Exhibits_P2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus Exhibits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Spon_Nexus</targetReference>
            </connector>
            <label>Nexus Sponsorship or Exhibits P2</label>
        </rules>
        <rules>
            <name>Spotlights_Nexus_P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotlight Speaking Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Nexus_Spotlights</targetReference>
            </connector>
            <label>Spotlights Nexus P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Class_Type</name>
        <label>Class Type</label>
        <locationX>5154</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_Annual_P1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sponsorship_or_Exhibits_Annual_P1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Exhibits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Spon_Exh</targetReference>
            </connector>
            <label>Sponsorship or Exhibits - Annual P1</label>
        </rules>
        <rules>
            <name>Spotlights_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotlight Speaking Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_IDs_Spotlight</targetReference>
            </connector>
            <label>Spotlights - Annual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_What_category_does_it_fall_under</name>
        <label>Copy 1 of What category does it fall under?</label>
        <locationX>6782</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_a_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Advertising</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Advertising_P1</targetReference>
            </connector>
            <label>Copy 1 of Advertising</label>
        </rules>
        <rules>
            <name>Copy_1_of_Annual_Meeting</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Annual_P1</targetReference>
            </connector>
            <label>Copy 1 of Annual Meeting</label>
        </rules>
        <rules>
            <name>Copy_1_of_Corporate_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Corporate_Training_P1</targetReference>
            </connector>
            <label>Copy 1 of Corporate Training</label>
        </rules>
        <rules>
            <name>Copy_1_of_e_Dossier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>e-Dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>e-Dossier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_EDossier_P1</targetReference>
            </connector>
            <label>Copy 1 of e-Dossier</label>
        </rules>
        <rules>
            <name>Copy_1_of_E_Learning_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Learning Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Learning Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_E_Learning_Days_P1</targetReference>
            </connector>
            <label>Copy 1 of E-Learning Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_Market_Insights</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Insights</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Insights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Market_Insights_P1</targetReference>
            </connector>
            <label>Copy 1 of Market Insights</label>
        </rules>
        <rules>
            <name>Copy_1_of_Membership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Membership_P1</targetReference>
            </connector>
            <label>Copy 1 of Membership</label>
        </rules>
        <rules>
            <name>Copy_1_of_Misc</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Misc_P1</targetReference>
            </connector>
            <label>Copy 1 of Misc.</label>
        </rules>
        <rules>
            <name>Copy_1_of_Nexus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Nexus_P1</targetReference>
            </connector>
            <label>Copy 1 of Nexus</label>
        </rules>
        <rules>
            <name>Copy_1_of_PIE_Webinar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIE Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIE Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_PIE_Webinar_P1</targetReference>
            </connector>
            <label>Copy 1 of PIE Webinar</label>
        </rules>
        <rules>
            <name>Copy_1_of_Podcast</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Podcast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Podcast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Podcast_P1</targetReference>
            </connector>
            <label>Copy 1 of Podcast</label>
        </rules>
        <rules>
            <name>Copy_1_of_S_I_Webinars</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S&amp;I Webinars</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S&amp;I Webinars</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_SI_Webinars_P1</targetReference>
            </connector>
            <label>Copy 1 of S&amp;I Webinars</label>
        </rules>
        <rules>
            <name>Copy_1_of_Thought_Leadership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thought Leadership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thought Leadership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Thought_Leadership_P1</targetReference>
            </connector>
            <label>Copy 1 of Thought Leadership</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_category_does_it_fall_under</name>
        <label>What category does it fall under?</label>
        <locationX>2206</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Advertising</targetReference>
            </connector>
            <label>Advertising</label>
        </rules>
        <rules>
            <name>Annual_Meeting</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Annual_Meeting</targetReference>
            </connector>
            <label>Annual Meeting</label>
        </rules>
        <rules>
            <name>Corporate_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Corporate_Training</targetReference>
            </connector>
            <label>Corporate Training</label>
        </rules>
        <rules>
            <name>e_Dossier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>e-Dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>e-Dossier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_eDossier</targetReference>
            </connector>
            <label>e-Dossier</label>
        </rules>
        <rules>
            <name>E_Learning_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Learning Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Learning Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_eLearning_Days</targetReference>
            </connector>
            <label>E-Learning Days</label>
        </rules>
        <rules>
            <name>Market_Insights</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Insights</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Insights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Market_Insights</targetReference>
            </connector>
            <label>Market Insights</label>
        </rules>
        <rules>
            <name>Membership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Membership</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>Misc</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Misc</targetReference>
            </connector>
            <label>Misc.</label>
        </rules>
        <rules>
            <name>Nexus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Nexus</targetReference>
            </connector>
            <label>Nexus</label>
        </rules>
        <rules>
            <name>PIE_Webinar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIE Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIE Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_PIE_Webinar</targetReference>
            </connector>
            <label>PIE Webinar</label>
        </rules>
        <rules>
            <name>Podcast</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Podcast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Podcast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Podcast</targetReference>
            </connector>
            <label>Podcast</label>
        </rules>
        <rules>
            <name>S_I_Webinars</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S&amp;I Webinars</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S&amp;I Webinars</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_SI_Webinar</targetReference>
            </connector>
            <label>S&amp;I Webinars</label>
        </rules>
        <rules>
            <name>Thought_Leadership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thought Leadership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Multi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thought Leadership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Thought_Leadership</targetReference>
            </connector>
            <label>Thought Leadership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage_is_Updated</name>
        <label>Which Stage is Updated</label>
        <locationX>5660</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Changes_to_P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 (Pending contract/verbal)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_category_does_it_fall_under</targetReference>
            </connector>
            <label>Stage Changes to P2</label>
        </rules>
        <rules>
            <name>Stage_Changes_to_P1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 (Signed/Closed Contract)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_What_category_does_it_fall_under</targetReference>
            </connector>
            <label>Stage Changes to P1</label>
        </rules>
    </decisions>
    <description>sends a notification in Salesforce when an opportunity stage changes to P2 or P1</description>
    <environments>Default</environments>
    <interviewLabel>Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification when Opp Stage Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task</name>
        <label>Create a task</label>
        <locationX>6782</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Invoice_Alert_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058c00000DZyjfAAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Invoice Needs to be Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Advertising</name>
        <label>Get Notification Advertising</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Advertising</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Advertising_P1</name>
        <label>Get Notification Advertising P1</label>
        <locationX>4626</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Advertising_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Annual_Meeting</name>
        <label>Get Notification Annual Meeting</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Class_Annual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Annual_P1</name>
        <label>Get Notification Annual P1</label>
        <locationX>5154</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Class_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Corporate_Training</name>
        <label>Get Notification Corporate Training</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Corporate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Corporate_Training_P1</name>
        <label>Get Notification Corporate Training P1</label>
        <locationX>5594</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Corporate_Training_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_E_Learning_Days_P1</name>
        <label>Get Notification E-Learning Days P1</label>
        <locationX>6122</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_E_Learning_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_eDossier</name>
        <label>Get Notification - eDossier</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_e_Dossier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_EDossier_P1</name>
        <label>Get Notification EDossier P1</label>
        <locationX>5858</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_eDossier_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_eLearning_Days</name>
        <label>Get Notification - eLearning Days</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_E_Learning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Market_Insights</name>
        <label>Get Notification - Market Insights</label>
        <locationX>1810</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Market_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Market_Insights_P1</name>
        <label>Get Notification Market Insights_P1</label>
        <locationX>6386</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Market_Insights_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Membership</name>
        <label>Get Notification Membership</label>
        <locationX>2074</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Membership_P1</name>
        <label>Get Notification Membership P1</label>
        <locationX>6650</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Membership_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Misc</name>
        <label>Get Notification Misc</label>
        <locationX>2338</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Misc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Misc_P1</name>
        <label>Get Notification Misc P1</label>
        <locationX>6914</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Misc_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Nexus</name>
        <label>Get Notification Nexus</label>
        <locationX>2866</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Class_Nexus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Nexus_P1</name>
        <label>Get Notification Nexus P1</label>
        <locationX>7442</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Class</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_PIE_Webinar</name>
        <label>Get Notification PIE Webinar</label>
        <locationX>3306</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_PIE_Webinar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_PIE_Webinar_P1</name>
        <label>Get Notification PIE Webinar P1</label>
        <locationX>7882</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_PIE_Webinar_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Podcast</name>
        <label>Get Notification Podcast</label>
        <locationX>3570</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Podcast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Podcast_P1</name>
        <label>Get Notification Podcast P1</label>
        <locationX>8146</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Podcast_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_SI_Webinar</name>
        <label>Get Notification SI Webinar</label>
        <locationX>3834</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_SI_Webinar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_SI_Webinars_P1</name>
        <label>Get Notification SI Webinars P1</label>
        <locationX>8410</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_SI_Webinar_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Thought_Leadership</name>
        <label>Get Notification Thought Leadership</label>
        <locationX>4098</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Thought_Leadership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Thought_Leadership_P1</name>
        <label>Get Notification Thought Leadership P1</label>
        <locationX>8674</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Thought_Leadership_P1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>5534</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Stage_is_Updated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contract has been signed and is now ready for an invoice.</text>
    </textTemplates>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OwnerIds2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
