force-app/main/default/flows/RT_Contact_Update_Affiliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Carolinas AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Variable</name>
        <label>Copy 10 of Assign Variable</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>California AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Variable</name>
        <label>Copy 11 of Assign Variable</label>
        <locationX>3218</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tennessee-Alabama AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Variable</name>
        <label>Copy 1 of Assign Variable</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Florida AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_Variable</name>
        <label>Copy 1 of Copy 2 of Assign Variable</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mid-Atlantic AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Variable</name>
        <label>Copy 2 of Assign Variable</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Georgia AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Variable</name>
        <label>Copy 3 of Assign Variable</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Great Plains AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Variable</name>
        <label>Copy 4 of Assign Variable</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Midwest AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Variable</name>
        <label>Copy 5 of Assign Variable</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northeast Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Variable</name>
        <label>Copy 6 of Assign Variable</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northwest Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Variable</name>
        <label>Copy 7 of Assign Variable</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ohio-Kentucky AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Variable</name>
        <label>Copy 8 of Assign Variable</label>
        <locationX>2690</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Southwest Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Variable</name>
        <label>Copy 9 of Assign Variable</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Utah AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_State</name>
        <label>Check State</label>
        <locationX>1766</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>California_AMCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Assign_Variable</targetReference>
            </connector>
            <label>California AMCP</label>
        </rules>
        <rules>
            <name>Carolinas_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>Carolinas AMCP</label>
        </rules>
        <rules>
            <name>Florida_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Variable</targetReference>
            </connector>
            <label>Florida AMCP</label>
        </rules>
        <rules>
            <name>Georgia_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Variable</targetReference>
            </connector>
            <label>Georgia AMCP</label>
        </rules>
        <rules>
            <name>Mid_Atlantic_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Assign_Variable</targetReference>
            </connector>
            <label>Mid-Atlantic AMCP</label>
        </rules>
        <rules>
            <name>Great_Plains_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Variable</targetReference>
            </connector>
            <label>Great Plains AMCP</label>
        </rules>
        <rules>
            <name>Midwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Variable</targetReference>
            </connector>
            <label>Midwest AMCP</label>
        </rules>
        <rules>
            <name>Northeast_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Variable</targetReference>
            </connector>
            <label>Northeast AMCP</label>
        </rules>
        <rules>
            <name>Northwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Variable</targetReference>
            </connector>
            <label>Northwest AMCP</label>
        </rules>
        <rules>
            <name>Ohio_Kentucky_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Variable</targetReference>
            </connector>
            <label>Ohio-Kentucky AMCP</label>
        </rules>
        <rules>
            <name>Southwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Variable</targetReference>
            </connector>
            <label>Southwest AMCP</label>
        </rules>
        <rules>
            <name>Utah_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Variable</targetReference>
            </connector>
            <label>Utah AMCP</label>
        </rules>
        <rules>
            <name>Tennessee_Alabama_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_Variable</targetReference>
            </connector>
            <label>Tennessee-Alabama AMCP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT - Contact - Update Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Contact - Update Affiliation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1766</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>Affiliates__c</field>
            <value>
                <elementReference>PrimaryAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_State</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.MailingStateCode})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountSchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
