force-app/main/default/flows/RT_Term_Studend_Membership_Grad_Year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>End_date_Grad_Date</name>
        <label>End date &gt; Grad Date?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndYear</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GradYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Term_End_Date</targetReference>
            </connector>
            <label>Yes - Update End Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.OrderApi__Term_End_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GradYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.OrderApi__Contact__r.Graduation_Year__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(TEXT({!$Record.OrderApi__Contact__r.Graduation_Year__c})),5,31)</expression>
    </formulas>
    <formulas>
        <name>NewGraceDate</name>
        <dataType>Date</dataType>
        <expression>{!NewEndDate} + {!$Record.OrderApi__Subscription_Plan__r.OrderApi__Grace_Period__c}</expression>
    </formulas>
    <interviewLabel>RT - Term - Studend Membership Grad Year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Term - Studend Membership Grad Year</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>NewGraceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Paid_Through_Date__c</field>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Term_End_Date</name>
        <label>Update Term End Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>NewGraceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Term_End_Date__c</field>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>End_date_Grad_Date</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>YEAR({!$Record.OrderApi__Term_End_Date__c}) &gt; VALUE(TEXT({!$Record.OrderApi__Contact__r.Graduation_Year__c})) &amp;&amp; {!$Record.OrderApi__Item__r.Name} = &apos;Student Membership&apos;</filterFormula>
        <object>OrderApi__Renewal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
