force-app/main/default/flows/Sales_Order_Payment_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_30_Day_Past_Due_Notice</name>
        <label>Send 30 Day Past Due Notice</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>OrderApi__Sales_Order__c.Invoice_30_Days_Past_Due</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order__c.Invoice_30_Days_Past_Due</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_60_Day_Past_Due_Notice</name>
        <label>Send 60 Day Past Due Notice</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <actionName>OrderApi__Sales_Order__c.Invoice_60_Days_Past_Due</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order__c.Invoice_60_Days_Past_Due</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_90_Day_Past_Due_Notice</name>
        <label>Send 90 Day Past Due Notice</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <actionName>OrderApi__Sales_Order__c.Invoice_90_Days_Past_Due</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order__c.Invoice_90_Days_Past_Due</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Days_Overdue</name>
        <label>Days Overdue</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days_Overdue</name>
            <conditionLogic>(1) AND (NOT (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-10-1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-10-1010  </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2011</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2012</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2013</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2014</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2015</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2016</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2017</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2018</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2021</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2022</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2023</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-1-20-2000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Lines.OrderApi__GL_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0-0-00-0000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_30_Day_Past_Due_Notice</targetReference>
            </connector>
            <label>30 Days Overdue</label>
        </rules>
        <rules>
            <name>X60_Days_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_60_Day_Past_Due_Notice</targetReference>
            </connector>
            <label>60 Days Overdue</label>
        </rules>
        <rules>
            <name>X90_days_overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_90_Day_Past_Due_Notice</targetReference>
            </connector>
            <label>90 days overdue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Order - Payment Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order - Payment Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Order_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Lines</name>
        <label>Get Sales Order Lines</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Days_Overdue</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posting_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-11</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order__c</objectType>
    </variables>
</Flow>
