force-app/main/default/flows/Send_Receipt_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Donation_Email</name>
        <label>Send Donation Receipt Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>OrderApi__Receipt__c.FON_Receipt_After_Donation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OkMsg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Receipt.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.FON_Receipt_After_Donation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Non_Donation_Receipt_Email</name>
        <label>Send Non-Donation Receipt Email</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>OrderApi__Receipt__c.FON_RECEIPT_email_after_posting</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OkMsg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Receipt.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.FON_RECEIPT_email_after_posting</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_a_donation</name>
        <label>Is a donation?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NotOkMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End of process</defaultConnectorLabel>
        <rules>
            <name>Donation</name>
            <conditionLogic>8 AND (1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0007</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0008</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0012</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0013</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.OrderApi__Campaign_Page__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-0014</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Donation_Email</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Non_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Non_Donation_Receipt_Email</targetReference>
            </connector>
            <label>Non-Donation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Send Receipt Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Receipt Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Receipt</name>
        <label>Get Receipt</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Receipt.OrderApi__Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NotOkMsg</name>
        <label>NotOkMsg</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_OkText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The e-mail cannot be sent. Please, check if the receipt has a related Sales Order or contact your System Administrator for more details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OkMsg</name>
        <label>OkMsg</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OkText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The e-mail has been successfully sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Receipt</name>
        <label>Send Receipt</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Receipt</targetReference>
        </connector>
        <fields>
            <name>ConfirmMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This action sends the receipt to the contact&apos;s email. Are you sure you want to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Receipt</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Receipt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
