force-app/main/default/flows/Send_email_to_Affiliate_Sponsor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_California_Sponsor</name>
        <label>Send email to California Sponsor</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>OrderApi__Sales_Order_Line__c.Send_Email_to_California_Sponsor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order_Line__c.Send_Email_to_California_Sponsor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Florida_Sponsor</name>
        <label>Send email to Florida Sponsor</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>OrderApi__Receipt__c.Affiliate_Sponsorship_Purchased</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Receipt__c.Affiliate_Sponsorship_Purchased</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Northwest_sponsor</name>
        <label>Send email to Northwest sponsor</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>OrderApi__Sales_Order_Line__c.Send_Email_to_Northwest_Sponsor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order_Line__c.Send_Email_to_Northwest_Sponsor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_TN_sponsor</name>
        <label>Send email to TN sponsor</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <actionName>OrderApi__Sales_Order_Line__c.Send_Email_to_TN_AL_Sponsor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order_Line__c.Send_Email_to_TN_AL_Sponsor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>What_Sponsorship_is_it</name>
        <label>What Sponsorship is it?</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>California</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>California AMCP Nexus Meeting and Reception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>California AMCP Bronze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>California AMCP Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>California AMCP Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_California_Sponsor</targetReference>
            </connector>
            <label>California</label>
        </rules>
        <rules>
            <name>Florida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Florida AMCP Gold Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Florida AMCP Platinum Sponsorship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Florida_Sponsor</targetReference>
            </connector>
            <label>Florida</label>
        </rules>
        <rules>
            <name>Northwest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bronze Sponsorship - Northwest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold Sponsorship - Northwest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Specific Workstream Sponsorship - Northwest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Silver Sponsorship - Northwest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Northwest_sponsor</targetReference>
            </connector>
            <label>Northwest</label>
        </rules>
        <rules>
            <name>Southwest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Southwest AMCP Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Southwest AMCP Silver</stringValue>
                </rightValue>
            </conditions>
            <label>Southwest</label>
        </rules>
        <rules>
            <name>Tennesee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bronze Sponsorship - Tennessee-Alabama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold Sponsorship - Tennessee-Alabama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Platinum Sponsorship- Tennessee-Alabama </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Silver Sponsorship - Tennessee-Alabama</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_TN_sponsor</targetReference>
            </connector>
            <label>Tennesee</label>
        </rules>
    </decisions>
    <description>send email to the Affililate sponsor after sponsorship purchase</description>
    <environments>Default</environments>
    <interviewLabel>Send email to Affiliate Sponsor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email to Affiliate Sponsor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Order_Line</name>
        <label>Get Sales Order Line</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Sponsorship_is_it</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OrderApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posting_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_after</name>
            <connector>
                <targetReference>Get_Sales_Order_Line</targetReference>
            </connector>
            <label>1 minute after</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetSalesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
