force-app/main/default/flows/Send_Notification_when_Application_is_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_Submitted</name>
        <label>Application Submitted</label>
        <locationX>710</locationX>
        <locationY>1607</locationY>
        <actionName>Application__c.Application_submitted_aler</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Application__c.Application_submitted_aler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Notification</name>
        <label>Copy 1 of Send Notification</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new P&amp;T Application.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New National P&amp;T Application!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Notification</name>
        <label>Copy 2 of Send Notification</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new Virtual Perceptor Application.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Virtual Perceptor!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Notification</name>
        <label>Copy 3 of Send Notification</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new Intern Reviewer Application.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Intern Reviewer Application!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_Notification</name>
        <label>Copy 4 of Send Notification</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new Best Poster Judge/Mentor Application.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Best Poster Judge/Mentor Application!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a new Diplomat Application.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Diplomat Application!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Tasks_Collection</name>
        <label>Add to Tasks Collection</label>
        <locationX>798</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OwnerIds_Variable</name>
        <label>Assign OwnerIds Variable</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvkuAAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Fields</name>
        <label>Assign Task Fields</label>
        <locationX>798</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_OwnerIds_Variable</name>
        <label>Copy 1 of Assign OwnerIds Variable</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv95AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv90AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9AAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New P&amp;T Judge Application!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_OwnerIds_Variable</name>
        <label>Copy 1 of Copy 1 of Assign OwnerIds Variable</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv95AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv90AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9AAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Virtual Perceptor Application!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_OwnerIds_Variable</name>
        <label>Copy 2 of Copy 1 of Assign OwnerIds Variable</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv95AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv90AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9AAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Intern Reviewer Application!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Assign_OwnerIds_Variable</name>
        <label>Copy 3 of Copy 1 of Assign OwnerIds Variable</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv95AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv90AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9AAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Best Poster Judge/ Mentor Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Type</name>
        <label>Application Type</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Diplomat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diplomat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OwnerIds_Variable</targetReference>
            </connector>
            <label>Diplomat</label>
        </rules>
        <rules>
            <name>P_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National P&amp;T Judge Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_OwnerIds_Variable</targetReference>
            </connector>
            <label>P&amp;T</label>
        </rules>
        <rules>
            <name>Virtual_Preceptor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foundation Internship Virtual Preceptor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_OwnerIds_Variable</targetReference>
            </connector>
            <label>Virtual Preceptor</label>
        </rules>
        <rules>
            <name>Intern_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foundation Intern Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Assign_OwnerIds_Variable</targetReference>
            </connector>
            <label>Intern Reviewer</label>
        </rules>
        <rules>
            <name>Best_Poster_Judge_Mentor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best Poster Judge/Poster Mentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Assign_OwnerIds_Variable</targetReference>
            </connector>
            <label>Best Poster Judge/Mentor</label>
        </rules>
    </decisions>
    <description>changing hard-coded ID&apos;s</description>
    <environments>Default</environments>
    <interviewLabel>Send Notification when Application is Submitted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification when Application is Submitted</label>
    <loops>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <collectionReference>OwnerIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Application_Submitted</targetReference>
        </connector>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diplomat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National P&amp;T Judge Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foundation Intern Reviewer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foundation Internship Virtual Preceptor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Best Poster Judge/Poster Mentor</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
