force-app/main/default/flows/Send_email_to_Carolina_sponsor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_Carolina_sponsor</name>
        <label>Send email to Carolina sponsor</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>OrderApi__Sales_Order_Line__c.Send_Email_to_Carolina_Sponsor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Sales_Order_Line__c.Send_Email_to_Carolina_Sponsor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_SOL</name>
        <label>Check SOL</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>There_are_SOL</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Is_Posted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Carolinas 2023 Job Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Carolinas 2023 Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.OrderApi__Line_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Carolinas 2023 Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Carolina_sponsor</targetReference>
            </connector>
            <label>There are SOL</label>
        </rules>
    </decisions>
    <description>send email to Carolina Affiliate Sponsors after purchase</description>
    <environments>Default</environments>
    <interviewLabel>Send email to Carolina sponsor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email to Carolina sponsor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Order_Line</name>
        <label>Get Sales Order Line</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OrderApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Posting_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_after</name>
            <connector>
                <targetReference>Get_Sales_Order_Line</targetReference>
            </connector>
            <label>1 minute after</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GetSalesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
