force-app/main/default/flows/Student_Renewal_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_DLRS_Membership_Type</name>
        <label>Run DLRS Membership Type</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Membership_Type</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_End_Date</name>
        <label>Assign End Date</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TermEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndLastMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_sales_order_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Term_End_Date</name>
        <label>Assign Term End Date</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TermEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndCurrentMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_sales_order_line_currentMonth</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Old_Subscription_Term</name>
        <label>Found Old Subscription/Term</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_New_Bagde</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Subscription_terms.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Graduating_This_year</name>
        <label>Graduating This year</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Item_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Contact__r.Graduation_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThisYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TermEndMonthStudent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Term_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does not include Student</description>
        <name>Is_renewing_to_a_different_membership</name>
        <label>Is renewing to a different membership</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Order_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Is_renewing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Last_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Subscription_terms</targetReference>
            </connector>
            <label>Is renewing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student</name>
        <label>Is Student?</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Contact__r.Graduation_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TermEndMonthStudent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Contact__r.Graduation_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextTwoYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TermEndMonthStudent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Term_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Other_Membership_or_long_term_Student</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8 AND 9) OR (7 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active-Retired Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Associate Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Associate-Retired Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resident/Fellow/Graduate Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TermEndMonthStudent</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Contact__r.Graduation_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Contact__r.Graduation_Year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NextYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Previous_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Joining_Renewing_Period</targetReference>
            </connector>
            <label>Other Membership or long term Student</label>
        </rules>
    </decisions>
    <decisions>
        <name>Joining_Renewing_Period</name>
        <label>Joining/Renewing Period</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Term_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>16th - 31st</defaultConnectorLabel>
        <rules>
            <name>X1st_15th</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaidDatePeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Fortnight</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_End_Date</targetReference>
            </connector>
            <label>1st - 15th</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Payment made 16th-31st</description>
        <name>EndCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( {!$Record.OrderApi__Term_End_Date__c} ) = 12,
  DATE( YEAR(  {!$Record.OrderApi__Term_End_Date__c} ), 12, 31 ),
  DATE( YEAR(  {!$Record.OrderApi__Term_End_Date__c} ), MONTH (  {!$Record.OrderApi__Term_End_Date__c} ) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <description>Payment made 1st-15th</description>
        <name>EndLastMonth</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( {!$Record.OrderApi__Term_End_Date__c}) = 1,
  DATE( YEAR( {!$Record.OrderApi__Term_End_Date__c} )-1, 12, 31 ),
  DATE( YEAR( {!$Record.OrderApi__Term_End_Date__c}), MONTH ( {!$Record.OrderApi__Term_End_Date__c}) , 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <name>ExpirationDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Record.OrderApi__Term_End_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ExpirationMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Record.OrderApi__Term_End_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GracePeriod16to31</name>
        <dataType>Date</dataType>
        <expression>{!EndCurrentMonth}+{!GraceperiodValue}</expression>
    </formulas>
    <formulas>
        <name>GracePeriod1to15</name>
        <dataType>Date</dataType>
        <expression>{!EndLastMonth}+{!GraceperiodValue}</expression>
    </formulas>
    <formulas>
        <name>GraceperiodValue</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OrderApi__Subscription_Plan__r.OrderApi__Grace_Period__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewGracePeriod</name>
        <dataType>Date</dataType>
        <expression>{!NewTermEndDate}+{!GraceperiodValue}</expression>
    </formulas>
    <formulas>
        <name>NewTermEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!$Record.OrderApi__Contact__r.Graduation_Year__c})={!NextYear}, DATE(VALUE({!NextYear}),5,31), IF(TEXT({!$Record.OrderApi__Contact__r.Graduation_Year__c})={!ThisYear}, DATE(VALUE({!ThisYear}),5,31), DATE(VALUE({!NextTwoYear}),5,31)))</expression>
    </formulas>
    <formulas>
        <name>NextTwoYear</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT(YEAR(TODAY())+2), &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>NextYear</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT(YEAR(TODAY())+1), &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>PaidDatePeriod</name>
        <dataType>String</dataType>
        <expression>IF(DAY({!$Record.OrderApi__Renewed_Date__c})&lt;16, &apos;First Fortnight&apos;, &apos;Second Fortnight&apos;)</expression>
    </formulas>
    <formulas>
        <name>TermEndMonthStudent</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Record.OrderApi__Term_End_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ThisYear</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT(YEAR(TODAY())), &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Student Renewal Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Renewal Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Badge</name>
        <label>Get Badge</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Badge_lastmonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Badge_CurrentMonth</name>
        <label>Get Badge</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Badge_CurrentMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Old Subscription/Terms when Renewing for a different Membership Type</description>
        <name>Get_Old_Subscription_terms</name>
        <label>Get Old Subscription/Terms</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Old_Subscription_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Renewal_Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Item_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Item_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Line</name>
        <label>Get Sales Order Line</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Graduating_This_year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Badge</name>
        <label>Get Student Badge</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_sales_order_line</name>
        <label>Copy 1 of update sales order line</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__End_Date__c</field>
            <value>
                <elementReference>NewTermEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Badge</name>
        <label>Update Badge</label>
        <locationX>842</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Copy_1_of_update_sales_order_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Student_Badge.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>NewGracePeriod</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Badge_CurrentMonth</name>
        <label>Update Badge</label>
        <locationX>1194</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>update_term_end_date_CurrentMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>GracePeriod16to31</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Badge_lastmonth</name>
        <label>Update Badge</label>
        <locationX>930</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>update_term_end_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>GracePeriod1to15</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Term_Date</name>
        <label>Update End Term Date</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Get_Student_Badge</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>NewGracePeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Term_End_Date__c</field>
            <value>
                <elementReference>NewTermEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Badge</name>
        <label>Update New Badge</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Run_DLRS_Membership_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Grace_Period_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Bagde</name>
        <label>Update New Bagde</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>$Record.OrderApi__Grace_Period_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_Badge</name>
        <label>Update old Badge</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_New_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Subscription_terms.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_term</name>
        <label>Update Old term</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_start_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Subscription_terms.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Term_End_Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Renewal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sales_order_line</name>
        <label>update sales order line</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__End_Date__c</field>
            <value>
                <elementReference>EndLastMonth</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sales_order_line_currentMonth</name>
        <label>update sales order line</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Badge_CurrentMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__End_Date__c</field>
            <value>
                <elementReference>EndCurrentMonth</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_start_date</name>
        <label>Update start date</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_old_Badge</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Term_Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Old_term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Activated_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_term_end_date</name>
        <label>update term end date</label>
        <locationX>930</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>GracePeriod1to15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Term_End_Date__c</field>
            <value>
                <elementReference>EndLastMonth</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_term_end_date_CurrentMonth</name>
        <label>update term end date</label>
        <locationX>1194</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>OrderApi__Grace_Period_End_Date__c</field>
            <value>
                <elementReference>GracePeriod16to31</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Term_End_Date__c</field>
            <value>
                <elementReference>EndCurrentMonth</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_renewing_to_a_different_membership</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 3) OR (1 AND 4 AND 5) OR (1 AND 5 AND 6) OR (2 AND 4 AND 5) OR (2 AND 5 AND 6)</filterLogic>
        <filters>
            <field>OrderApi__Previous_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Previous_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Item_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Last_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Item_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Student Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Last_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Renewal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <description>Not For Student</description>
        <name>TermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
