force-app/main/default/flows/Subscription_SCH_Membership_Renewal_Days_to_Lapse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Membership_Renewal_7_Days_out_Send_Email</name>
        <label>Membership Renewal 7 Days out</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUaZEAW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Membership_Renewal_88_days_past_Send_Email</name>
        <label>Membership Renewal 88 days past</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUabEAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Membership_Renewal_Past_50_Days</name>
        <label>Membership Renewal Past 50 Days</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUaaEAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Days_to_Lapse</name>
        <label>Days to Lapse</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Expiring_7_Days</name>
            <conditionLogic>1 AND  (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Associate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Renewal_7_Days_out_Send_Email</targetReference>
            </connector>
            <label>Is Expiring 7 Days</label>
        </rules>
        <rules>
            <name>Is_Expiring_50_Days</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpirationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Associate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Renewal_Past_50_Days</targetReference>
            </connector>
            <label>Is Expiring 50 Days</label>
        </rules>
        <rules>
            <name>Is_Expiring_88_Days</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-88.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpirationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Associate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Renewal_88_days_past_Send_Email</targetReference>
            </connector>
            <label>Is Expiring 88 Days</label>
        </rules>
    </decisions>
    <description>Membership Renewal Days to Lapse (include decision with 7, -50, -88)</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysToLapse</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OrderApi__Grace_Period_End_Date__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OrderApi__Paid_Through_Date__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subscription - SCH - Membership Renewal Days to Lapse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription - SCH - Membership Renewal Days to Lapse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Days_to_Lapse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Enable_Auto_Renew__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Subscription__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-27</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
