force-app/main/default/flows/Subscription_SCH_Membership_Renewal_RFG_End_Date_2023.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RFG_End_50_Days_Renewal_send_email</name>
        <label>RFG End -50 Days Renewal</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUaiEAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RFG_End_7_Days_Renewal</name>
        <label>RFG End 7 Days Renewal</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUafEAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RFG_END_88_day_renewal_send_email</name>
        <label>RFG END -88 day renewal</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>memberservices@amcp.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X75000000UUagEAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Days_to_Lapse</name>
        <label>Days to Lapse</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Expiring_in_7_Days</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2023-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFG_End_7_Days_Renewal</targetReference>
            </connector>
            <label>Is Expiring in 7 Days</label>
        </rules>
        <rules>
            <name>Expired_50_Days_ago</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2023-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFG_End_50_Days_Renewal_send_email</targetReference>
            </connector>
            <label>Expired 50 Days ago</label>
        </rules>
        <rules>
            <name>Expired_88_Days_ago</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-88.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.AMCP_Membership_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts.Residency_Ending_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2023-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysToLapse</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFG_END_88_day_renewal_send_email</targetReference>
            </connector>
            <label>Expired 88 Days ago</label>
        </rules>
    </decisions>
    <description>Membership Renewal: RFG End Date = 2023 (7 Days Out, Past 50 Days, Past 88 Days)</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysToLapse</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OrderApi__Contact__r.Expiration_Date__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subscription - SCH - Membership Renewal RFG End Date = 2023 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription - SCH - Membership Renewal RFG End Date = 2023</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Days_to_Lapse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Enable_Auto_Renew__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1b8c000005ni1FAAQ</stringValue>
            </value>
        </filters>
        <object>OrderApi__Subscription__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-12</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
