force-app/main/default/flows/Subscriber_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Notification</name>
        <label>Copy 1 of Send Notification</label>
        <locationX>176</locationX>
        <locationY>1391</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_1_of_Get_Notification_Bell.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyActivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Subscriber Added!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_contact</name>
        <label>Send email to contact</label>
        <locationX>220</locationX>
        <locationY>815</locationY>
        <actionName>OrderApi__Assignment__c.Corporate_Rep_Alert_when_is_expired_or_cancelled_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderApi__Assignment__c.Corporate_Rep_Alert_when_is_expired_or_cancelled_Assignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>220</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_email_to_contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Bell.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyDeactivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Subscriber Deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Ids</name>
        <label>Assign Owner Ids</label>
        <locationX>220</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Owner_Ids</name>
        <label>Copy 1 of Assign Owner Ids</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c000008mLpGAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZvlOAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CNXrCAAX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Assigned_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Notification_Bell</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Notification_Bell</targetReference>
            </connector>
            <label>Updated to active</label>
        </rules>
        <rules>
            <name>Updated_to_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Bell</targetReference>
            </connector>
            <label>Updated to Inactive</label>
        </rules>
    </decisions>
    <description>When a subscriber is Deactivated by Corporate Rep</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderApi__Contact__r.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderApi__Contact__r.Account.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderApi__First_Name__c}</expression>
    </formulas>
    <formulas>
        <name>LastName</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderApi__Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>Subscriber Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscriber Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Notification_Bell</name>
        <label>Copy 1 of Get Notification Bell</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Owner_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Bell</name>
        <label>Get Notification Bell</label>
        <locationX>220</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>OrderApi__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BodyActivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Corporate Subscription was Added/Reactivated in the Company: {!AccountName} and Subscriber: {!FirstName} {!LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>BodyDeactivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Corporate Subscription was Deactivated/Unassigned in the Company: {!AccountName} and Subscriber: {!FirstName} {!LastName}</text>
    </textTemplates>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
