force-app/main/default/flows/Update_Contact_Membership_Fields_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_Active_or_Expired</name>
        <label>Check if Active or Expired</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Membership.OrderApi__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Not_in_Grace_Period</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_in_Grace_Period</name>
        <label>Check if in Grace Period</label>
        <locationX>248</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_if_Active_or_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Grace Period</defaultConnectorLabel>
        <rules>
            <name>In_Grace_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Membership.OrderApi__Paid_Through_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Membership.OrderApi__Grace_Period_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact_Grace_Period</targetReference>
            </connector>
            <label>In Grace Period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Any</name>
        <label>Found Any?</label>
        <locationX>545</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_No_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Membership.OrderApi__Contact__r.Is_Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_in_Grace_Period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the contact membership fields in batch to accomodate the grace period requirements.</description>
    <environments>Default</environments>
    <interviewLabel>Update Contact - Membership Fields Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact - Membership Fields Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Membership</name>
        <label>Get Most Recent Membership</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Subscription__c</object>
        <sortField>OrderApi__Paid_Through_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_Membership</name>
        <label>Get Oldest Membership</label>
        <locationX>545</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Any</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Subscription__c</object>
        <sortField>OrderApi__Activated_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact_Grace_Period</name>
        <label>Copy 1 of Update Contact - Grace Period</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>AMCP_Membership_Type__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Item__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Date__c</field>
            <value>
                <elementReference>Get_Oldest_Membership.OrderApi__Activated_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Expired</name>
        <label>Update Contact - Expired</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>AMCP_Membership_Type__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Item__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Date__c</field>
            <value>
                <elementReference>Get_Oldest_Membership.OrderApi__Activated_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_No_Subscription</name>
        <label>Update Contact - No Subscription</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>AMCP_Membership_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Not_in_Grace_Period</name>
        <label>Update Contact - Not in Grace Period</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>AMCP_Membership_Type__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Item__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Date__c</field>
            <value>
                <elementReference>Get_Oldest_Membership.OrderApi__Activated_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Most_Recent_Membership.OrderApi__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Membership</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-09-05</startDate>
            <startTime>13:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
