force-app/main/default/flows/Update_Contact_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Carolinas AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Variable</name>
        <label>Copy 10 of Assign Variable</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>California AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Variable</name>
        <label>Copy 11 of Assign Variable</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tennessee-Alabama AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Variable</name>
        <label>Copy 1 of Assign Variable</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Florida AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Variable</name>
        <label>Copy 2 of Assign Variable</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Georgia AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Variable</name>
        <label>Copy 3 of Assign Variable</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Great Plains AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Variable</name>
        <label>Copy 4 of Assign Variable</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Midwest AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Variable</name>
        <label>Copy 5 of Assign Variable</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northeast Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Variable</name>
        <label>Copy 6 of Assign Variable</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northwest Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Variable</name>
        <label>Copy 7 of Assign Variable</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ohio-Kentucky AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Variable</name>
        <label>Copy 8 of Assign Variable</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Southwest Region AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Variable</name>
        <label>Copy 9 of Assign Variable</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAffiliate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Utah AMCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Know_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_State</name>
        <label>Check State</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Know_Address_No_State_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>California_AMCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Assign_Variable</targetReference>
            </connector>
            <label>California AMCP</label>
        </rules>
        <rules>
            <name>Carolinas_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>Carolinas AMCP</label>
        </rules>
        <rules>
            <name>Florida_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Variable</targetReference>
            </connector>
            <label>Florida AMCP</label>
        </rules>
        <rules>
            <name>Georgia_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Variable</targetReference>
            </connector>
            <label>Georgia AMCP</label>
        </rules>
        <rules>
            <name>Great_Plains_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Variable</targetReference>
            </connector>
            <label>Great Plains AMCP</label>
        </rules>
        <rules>
            <name>Midwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Variable</targetReference>
            </connector>
            <label>Midwest AMCP</label>
        </rules>
        <rules>
            <name>Northeast_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Variable</targetReference>
            </connector>
            <label>Northeast AMCP</label>
        </rules>
        <rules>
            <name>Northwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Variable</targetReference>
            </connector>
            <label>Northwest AMCP</label>
        </rules>
        <rules>
            <name>Ohio_Kentucky_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Variable</targetReference>
            </connector>
            <label>Ohio-Kentucky AMCP</label>
        </rules>
        <rules>
            <name>Southwest_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Variable</targetReference>
            </connector>
            <label>Southwest AMCP</label>
        </rules>
        <rules>
            <name>Utah_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Variable</targetReference>
            </connector>
            <label>Utah AMCP</label>
        </rules>
        <rules>
            <name>Tennessee_Alabama_AMCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_Variable</targetReference>
            </connector>
            <label>Tennessee-Alabama AMCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Account</name>
        <label>Found Account?</label>
        <locationX>2162</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Company_School_of_Pharmacy_RT_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Known_Address</name>
        <label>Has Known Address</label>
        <locationX>1766</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Type_of_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_KA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Know_Address.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_KnownAddress</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Is_Changed_KA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KnownAddress</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Known_Address_No_State_Found</name>
        <label>Has Known Address  (No State Found)</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_No_State_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Know_Address_No_State_Found.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_KnownAddress_No_State_Found</targetReference>
            </connector>
            <label>No  (No State Found)</label>
        </rules>
        <rules>
            <name>Is_Changed_No_State_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KnownAddress_No_State_Found</targetReference>
            </connector>
            <label>Is Changed  (No State Found)</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_school_of_pharmacy</name>
        <label>No school of pharmacy?</label>
        <locationX>1370</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_sop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_of_Pharmacy_RT_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact2</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Contact</name>
        <label>Type of Contact</label>
        <locationX>1766</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Get_Company_School_of_Pharmacy_RT_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_School_of_Pharmacy_RT_Account</targetReference>
            </connector>
            <label>Student</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>adding criteria for if Primary Affilliate is Null)</description>
    <environments>Default</environments>
    <interviewLabel>Update Contact Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_KnownAddress</name>
        <label>Create KnownAddress</label>
        <locationX>1502</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Type_of_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Country__c</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Is_Default__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Name__c</field>
            <value>
                <stringValue>Default Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Postal_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Province__c</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Street__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Type__c</field>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Known_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_KnownAddress_No_State_Found</name>
        <label>Create KnownAddress  (No State Found)</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OrderApi__City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Country__c</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Is_Default__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Name__c</field>
            <value>
                <stringValue>Default Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Postal_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Province__c</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Street__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Type__c</field>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Known_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Company_School_of_Pharmacy_RT_Account</name>
        <label>Get Company/School of Pharmacy RT Account</label>
        <locationX>2162</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_Organization_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Know_Address</name>
        <label>Get Know Address</label>
        <locationX>1766</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Known_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Known_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Know_Address_No_State_Found</name>
        <label>Get Know Address (No State Found)</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Known_Address_No_State_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Known_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_of_Pharmacy_RT_Account</name>
        <label>Get School of Pharmacy RT Account</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_school_of_pharmacy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_of_Pharmacy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1766</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Affiliates__c</field>
            <value>
                <elementReference>PrimaryAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact2</name>
        <label>Update Contact</label>
        <locationX>1238</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_School_of_Pharmacy_RT_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliates__c</field>
            <value>
                <elementReference>PrimaryAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_1</name>
        <label>Update Contact</label>
        <locationX>2294</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Affiliates__c</field>
            <value>
                <elementReference>PrimaryAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KnownAddress</name>
        <label>Update KnownAddress</label>
        <locationX>1766</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Type_of_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Know_Address.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Country__c</field>
            <value>
                <elementReference>$Record.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Postal_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Province__c</field>
            <value>
                <elementReference>$Record.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Street__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Type__c</field>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Known_Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KnownAddress_No_State_Found</name>
        <label>Update KnownAddress (No State Found)</label>
        <locationX>3482</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Know_Address.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Country__c</field>
            <value>
                <elementReference>$Record.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Postal_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Province__c</field>
            <value>
                <elementReference>$Record.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Street__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Type__c</field>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Known_Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>Update Contact</label>
        <locationX>2030</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Company_School_of_Pharmacy_RT_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliates__c</field>
            <value>
                <elementReference>PrimaryAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_State</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>School_of_Pharmacy__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_of_Pharmacy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingStateCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCountryCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Affiliates__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountSchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
