force-app/main/default/flows/Updated_Opportunity_to_be_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Annual_Meeting.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Corporate_Training</name>
        <label>Send Notification - Corporate Training</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Corporate_Training.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Market_Insights</name>
        <label>Send Notification - Market Insights</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_3_of_Get_Notification_Market_Insights.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Membership</name>
        <label>Send Notification - Membership</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Membership.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Nexus</name>
        <label>Send Notification - Nexus</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Nexus.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_PIE_Webinar</name>
        <label>Send Notification - PIE Webinar</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_PIE_Webinar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} Has Been Paid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Owner_IDs</name>
        <label>Assign Owner IDs</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAhAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Corporate_Training</name>
        <label>Assign Owner IDs - Corporate Training</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Corporate_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Market_Insights</name>
        <label>Assign Owner IDs - Market Insights</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzBBAA1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Market_Insights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Membership</name>
        <label>Assign Owner IDs - Membership</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_Nexus</name>
        <label>Assign Owner IDs - Nexus</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000CRZCZAA5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAhAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Nexus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_IDs_PIE_Webinar</name>
        <label>Assign Owner IDs - PIE Webinar</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZv9KAAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0058c00000DZzAmAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_PIE_Webinar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_Sales_Order_Paid</name>
        <label>Is the Sales Order Paid?</label>
        <locationX>1326</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Sales_Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderApi__Balance_Due__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_category_does_the_opp_fall_under</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_category_does_the_opp_fall_under</name>
        <label>What category does the opp fall under?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annual_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Annual_Meeting</targetReference>
            </connector>
            <label>Annual Meeting</label>
        </rules>
        <rules>
            <name>Corporate_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Corporate_Training</targetReference>
            </connector>
            <label>Corporate Training</label>
        </rules>
        <rules>
            <name>Market_Insights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Insights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Market_Insights</targetReference>
            </connector>
            <label>Market Insights</label>
        </rules>
        <rules>
            <name>Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Membership</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>Nexus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Nexus</targetReference>
            </connector>
            <label>Nexus</label>
        </rules>
        <rules>
            <name>PIE_Webinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIE Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_PIE_Webinar</targetReference>
            </connector>
            <label>PIE Webinar</label>
        </rules>
    </decisions>
    <description>updates &quot;Is Paid&quot; checkbox on the opportunity when sales order is paid</description>
    <environments>Default</environments>
    <interviewLabel>Updated Opportunity to be Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated Opportunity to be Paid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_3_of_Get_Notification_Market_Insights</name>
        <label>Get Notification - Market Insights</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Market_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Annual_Meeting</name>
        <label>Get Notification - Annual Meeting</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Corporate_Training</name>
        <label>Get Notification - Corporate Training</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Corporate_Training</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Membership</name>
        <label>Get Notification - Membership</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Nexus</name>
        <label>Get Notification - Nexus</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_Nexus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_PIE_Webinar</name>
        <label>Get Notification - PIE Webinar</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_IDs_PIE_Webinar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1326</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Sales_Order_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Annual_Meeting</name>
        <label>Update Opportunity - Annual Meeting</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Notification_Annual_Meeting</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Corporate_Training</name>
        <label>Update Opportunity - Corporate Training</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Notification_Corporate_Training</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Market_Insights</name>
        <label>Update Opportunity - Market Insights</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_3_of_Get_Notification_Market_Insights</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Membership</name>
        <label>Update Opportunity - Membership</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Notification_Membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Nexus</name>
        <label>Update Opportunity - Nexus</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Notification_Nexus</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_PIE_Webinar</name>
        <label>Update Opportunity - PIE Webinar</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Notification_PIE_Webinar</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Paid_SO__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OwnerIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
