force-app/main/default/flows/Utah_Affiliate_Summit_Registration_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Utah_Summit_Registration_Confirmation_Email</name>
        <label>Send Utah Summit Registration Confirmation Email</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>EventApi__Attendee__c.Utah_2nd_Annual_Summit</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.Utah_2nd_Annual_Summit</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>email confirmation when someone registers for Utah 2nd Annual Summit</description>
    <environments>Default</environments>
    <interviewLabel>Utah Affiliate Summit Registration email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utah Affiliate Summit Registration email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>EventApi__Send_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Utah_Summit_Registration_Confirmation_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>EventApi__Preferred_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Send_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Is_Registered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utah 2nd Annual Summit: Collaborating to Improve Access to Novel Therapeutics</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Send_Invitation_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Registration_Total__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>EventApi__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
